<phpunit backupGlobals="false"
         backupStaticAttributes="true"
         bootstrap="../vendor/autoload.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         syntaxCheck="false"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">

    <testsuites>
        <testsuite name="Test">
            <directory>./Test/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="../build/coverage" title="Elastica"
            charset="UTF-8" yui="true" highlight="true"
            lowUpperBound="35" highLowerBound="70"/>
    </logging>
</phpunit>
